{% set tutorial_file_scatra = "tutorial_poisson_scatra.4C.yaml" %}
{% set scatra_file_content = load_input_file(tutorial_file_scatra) %}
{% set tutorial_file_thermo = "tutorial_poisson_thermo.4C.yaml" %}
{% set thermo_file_content = load_input_file(tutorial_file_thermo) %}

.. _poissontutorial:

Tutorial of the Poisson Problem
===============================

Introduction
------------

The Poisson problem ist a mathematical problem that shows the (numerical) solution
of a partial differential equation with various engineering applications,
see, e.g., in its `Wikipedia web site <https://en.wikipedia.org/wiki/Poisson%27s_equation>`_ .
The equation behind this problem is of the shape

.. math::

    \Delta \varphi = f

In a tutorial of the `deal.ii Finite Element library <https://dealii.org/current/doxygen/deal.II/step_3.html>`_ , this problem is stated and solved.

Within 4C, the Poisson problem can be solved as a scalar transport problem or a thermal problem,
since all problems are (or at least can be) based on the same equation:

.. list-table::
    :header-rows: 1
    :stub-columns: 1

    * - Feature / Problem Type
      - Poisson Problem
      - Thermal Conduction
      - Diffusion Problem
    * - Physical context
      - Electrostatics, elasticity, etc.
      - Heat transfer
      - Mass/heat transport, chemical diffusion, etc.
    * - Equation
      - :math:`−\Delta u = f`
      - :math:`\frac{\partial T}{\partial t} − \nabla \cdot (k\nabla T) = Q`
      - :math:`\frac{\partial C}{\partial t} − \nabla \cdot (D\nabla C) = f`
    * - Unknown
      - u (potential)
      - T (temperature)
      - C (concentration, etc.)
    * - Time dependence
      - ❌ Steady-state only
      - ✅ Time-dependent (transient)
      - ✅ Time-dependent (transient)
    * - Diffusivity
      - Implicitly 1
      - k (thermal conductivity)
      - D (diffusion coefficient)
    * - Source term
      - f
      - Q
      - f
    * - Boundary conditions
      - Dirichlet/Neumann
      - Dirichlet/Neumann
      - Dirichlet/Neumann + Initial condition

In the following, we will show how to setup the system for a scalar transport problem and a thermal problem.
Further details and theory can be read, e.g., in the
`deal.ii tutorial <https://dealii.org/current/doxygen/deal.II/step_3.html>`_ .

When we treat the problem with the scalar transport or thermal solver, of course we also consider only the steady state situation as a special case of the equation above.
The mesh can be generated by any pre-processor, see the :ref:`pre-processing section<preprocessing>`; in our case we created the exodus file `poisson_problem_geo.e` with Cubit.
The mesh is shown below; node sets 1 to 4 representing the boundary lines are defined, the whole surface is node set number 5.


.. figure:: /_assets/tutorial_scatra_mesh.png
   :alt: tutorial_scatra mesh
   :width: 500px
   :align: center

   2D Mesh of for the Poisson problem with node sets.


The **boundary conditions** for either case are that the primary variable (:math:`T` or `C`, respectively) is zero at the boundary.
Thus, we have to define a Dirichlet boundary condition at the four lines, which for both problem types is denoted identically by the lines

{{ section_dump(scatra_file_content, "DESIGN LINE DIRICH CONDITIONS") }}

There is a constant source term over the whole structure, that is, the right hand side of the above equation is constant.
This is a Neumann, i.e., flux, condition, which is given by

{{ section_dump(scatra_file_content, "DESIGN SURF NEUMANN CONDITIONS") }}

For both problem types, we run the simulation in a single step.


Poisson problem solved with the scalar transport solver
--------------------------------------------------------

The diffusion problem is a so-called scalar transport problem in |FOURC|, thus the ``PROBLEM TYPE`` section is denoted here by ``Scalar_Transport``;
it defines most of the further sections in the input file und thus is of special importance:


{{ section_dump(scatra_file_content, "PROBLEM TYPE") }}

The time step, and time independence (steady state) situation are then declared in the ``SCALAR TRANSPORT DYNAMIC`` section.
We solve the problem using a direct linear solver (``UMFPACK``, see section ``SOLVER 1``), since the problem consists of only 441 nodes is very small.
The solver of this section is selected by the keyword ``LINEAR_SOLVER: 1``.
The time step does not matter, since the problem is steady state, but a value for ``TIMESTEP`` must be given anyway.

{{ section_dump(scatra_file_content, ["SCALAR TRANSPORT DYNAMIC", "SOLVER 1"]) }}

The diffusivity, which is the only material parameter in this model, is given in the material section:

{{ section_dump(scatra_file_content, "MATERIALS") }}

The geometry defined in the exodus file (see above) is read in by the command

{{ section_dump(scatra_file_content, "TRANSPORT GEOMETRY") }}

which then in the ``ELEMENT_BLOCK`` section defines the cell type, the material and the transport formulation (in our case it is Standard).

For scalar transport simulations, the primary variable is always printed into vtk files as ``phi_1``.
The flux cannot be printed.
Thus, no output section is necessary in this file.


Poisson problem solved with the thermal solver
--------------------------------------------------------


Again, the ``PROBLEM TYPE`` section, here ``Thermo``, defines most of the further sections in the input file:

{{ section_dump(thermo_file_content, "PROBLEM TYPE") }}

The time step, and time independence (steady state) situation are then declared in the ``THERMAL DYNAMIC`` section.
As one can see, contrary to the scalar transport problem the parameter to define a steady state problem is ``DYNAMICTYPE: Statics`` here.
Again, the same direct linear solver is used.

{{ section_dump(thermo_file_content, ["THERMAL DYNAMIC", "SOLVER 1"]) }}

A material model for thermal conduction always has two parameters, the heat capacity and the conductivity, even though the heat capacity does not matter for the steady state case.
Both parameters are given in the material section:

{{ section_dump(thermo_file_content, "MATERIALS") }}

The geometry defined in the exodus file (see above) is read in by the command

{{ section_dump(thermo_file_content, "THERMO GEOMETRY") }}

which then in the ``ELEMENT_BLOCK`` section defines the cell type and the material.

In contrast to the scalar transport simulation, no data is written to vtk files, if no output section is given.
Therefore, the following two sections are needed:

{{ section_dump(thermo_file_content, ["IO/RUNTIME VTK OUTPUT", "THERMAL DYNAMIC/RUNTIME VTK OUTPUT"]) }}

Besides the temperature, one may also request the conductivity (may be interesting if it is not constant), the heatflux and the temperature gradient.

Post-processing
--------------------

After either simulation, one can load the respective pvd file into paraview
and simply draw the primary variable (phi_1 or temperature, respectively) on the surface,
or one may apply the filter *Warp by Scalar*. However, by default the structure is shown in the x-y plane, so that the warping, which appears in z-direction is not visible.
One has to rotate the structure, so that the structure shows the warping as in the figure below.

The scalar transport simulation and the thermal simulations produce the same results, shown in the following relief plot:

.. figure:: /_assets/tutorial_thermo_resultsurface.png
   :alt: Scalar transport tutorial result relief of phi_1
   :align: center
   :width: 90%

   Relief plot of the primary variable, similar to the one given in the deal.II tutorial.

For comparison we generate an x-y plot of the primary variable for a path through the structure at :math:`y=0`.
This result can also be compared with the `tutorial 3 in deal.II <https://dealii.org/current/doxygen/deal.II/step_3.html>`_.
Since the mesh is the same as used there, one cannot even distinguish the three evaluated paths.


.. figure:: /_assets/poisson_result_plot.png
   :alt: Poisson tutorial result graph at y=0
   :align: center
   :width: 90%

   Results along a line for y=0.

The error between the scalar transport and the thermal conduction simulations are below :math:`10^{-14}`.
The deal.II tutorial uses an iterative solver (conjugate gradient) with a solver tolerance of :math:`10^{-6}`.
Therefore, the error between the |FOURC| solution and the deal.II solution is in this range, as visualized in the following figure:

.. figure:: /_assets/poisson_error_plot.png
   :alt: Error between deal.ii and thermal simulation
   :align: center
   :width: 90%

   Error between diffusion and thermal conduction as well as
   between deal.II and thermal conduction along a line for :math:`y=0`.


The following python script creates the figure for the structure that is loaded in Paraview (and visible in the current RenderView):


.. literalinclude::  /_assets/scatra_paraview_script.py
   :linenos:

