.. _materials:

Materials
=========

.. toctree::
   :maxdepth: 2
   :hidden:

   solid_materials
   fluid_materials
   other_materials
   coupling_materials

.. rubric:: General information

The definition of materials happens in the section ``MATERIALS``.
A material model defines its constitutive behavior, which may consist of several terms;
however, there is always *one* material assigned to each element.
This material can be an explicit material definition on its own,
or a collection of behaviours consisting of a number of material models to be defined subsequently.
The explicit definition of a material model is in general given by a single line of the form

.. code-block:: yaml

   MATERIALS:
   - MAT: <id>
     <materialname>:
       <parameters...>

One may also define a material by summation of several potentials.

A collection of material behaviors, on the other hand, contains a number of material models,
which are defined subsequently, by a list of integers referring to the material models.

The material categories are:

* :doc:`solid_materials` for elastic, viscoelastic, hyperelastic, and plasticity models and for
  material-direction input.
* :doc:`fluid_materials` for fluid material models.
* :doc:`other_materials` for material models outside the solid and fluid categories.
* :doc:`coupling_materials` for mapping material models between coupled discretizations.
